footer {

  @include flex();
  @include flex-direction(column);
  background-color: rgba(208, 208, 208, 1);
  font-family: 'TTNorms-Medium', 'TT Norms Medium', 'TT Norms', sans-serif;
  color: #616161;

  >div {
    @include flex();
    @include flex-direction(column);

    @include min-tablet {
      flex-grow: 1;
      @include flex-direction(row);
    }

    @include min-desktop {
      margin: auto;
      width: 80%;
      padding: 20px;
    }

    div {
      @include flex();
      @include flex-direction(column);

      @include min-tablet {
        flex-grow: 1;
      }
    }
  }

  .links {

    @include flex();
    @include flex-direction(column);

    @include min-tablet {
      @include flex-direction(row);
    }

    div>a {
      padding: 10px;
    }
  }

  .logo {
    @include flex();
    padding: 40px;
  }


  a {
    @include flex();
    @include justify-content(center);
  }
}