@charset "UTF-8";
/*
* Exclusivo para definições de quebras de layout
*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: "TTNorms-Regular", "TT Norms", sans-serif;
}

.central {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #32135B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  color: #32135B;
  background-color: #2ff189;
  font-family: "TTNorms-Bold", "TT Norms Bold", "TT Norms", sans-serif;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

/* Copyright 2013-2015 etc Chris Tabor. See https://github.com/christabor/css-progress-wizard/blob/master/LICENSE for details. */
.flexer, .progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.no-flexer, .progress-indicator.stacked {
  display: block;
}

.no-flexer-element {
  -ms-flex: 0;
  -webkit-flex: 0;
  -moz-flex: 0;
  flex: 0;
}

.flexer-element, .progress-indicator > li {
  -ms-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

.progress-indicator {
  margin: 0;
  padding: 0;
  font-size: 80%;
  margin-bottom: 1em;
}
.progress-indicator > li {
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.progress-indicator > li:hover {
  color: #097e3f;
}
.progress-indicator > li .bubble {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #2ff189;
  margin: 0 auto 0.5em auto;
  border-bottom: 1px solid #0cae57;
  z-index: 1;
}
.progress-indicator > li .bubble .overlay {
  width: 15px;
  height: 15px;
  z-index: 1;
  padding: 0;
  margin: auto;
}
.progress-indicator > li .bubble:before,
.progress-indicator > li .bubble:after {
  display: block;
  position: absolute;
  top: 9px;
  width: 100%;
  height: 3px;
  content: "";
  background-color: #2ff189;
}
.progress-indicator > li .bubble:before {
  left: 0;
}
.progress-indicator > li .bubble:after {
  right: 0;
}
.progress-indicator > li:first-child .bubble:before,
.progress-indicator > li:first-child .bubble:after {
  width: 50%;
  margin-left: 50%;
}
.progress-indicator > li:last-child .bubble:before,
.progress-indicator > li:last-child .bubble:after {
  width: 50%;
  margin-right: 50%;
}
.progress-indicator > li.completed {
  color: #fff;
}
.progress-indicator > li.completed .bubble {
  background-color: #2ff189;
  color: #FFF;
  border-color: #097e3f;
}
.progress-indicator > li.completed .bubble:before, .progress-indicator > li.completed .bubble:after {
  background-color: #2ff189;
  border-color: #097e3f;
}
.progress-indicator > li.completed .bubble .overlay {
  width: 10px;
  height: 10px;
  z-index: 1;
}
.progress-indicator > li.active {
  color: #fff;
}
.progress-indicator > li.active .bubble {
  background-color: #2ff189;
  color: #FFF;
  border-color: #097e3f;
}
.progress-indicator > li.active .bubble:before, .progress-indicator > li.active .bubble:after {
  background-color: #2ff189;
  border-color: #097e3f;
}
.progress-indicator > li a:hover .bubble {
  background-color: #2ff189;
  color: #FFF;
  border-color: #097e3f;
}
.progress-indicator > li a:hover .bubble:before, .progress-indicator > li a:hover .bubble:after {
  background-color: #2ff189;
  border-color: #097e3f;
}
.progress-indicator.stacked > li {
  text-indent: -10px;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-grow: 1;
}
.progress-indicator.stacked > li .bubble:before,
.progress-indicator.stacked > li .bubble:after {
  left: 50%;
  margin-left: -1.5px;
  width: 3px;
  height: 100%;
}
.progress-indicator.stacked .stacked-text {
  position: relative;
  z-index: 10;
  top: 0;
  margin-left: 60% !important;
  width: 45% !important;
  display: inline-block;
  text-align: left;
  line-height: 1.2em;
}
.progress-indicator.stacked > li a {
  border: none;
}
.progress-indicator.stacked.nocenter > li .bubble {
  margin-left: 0;
  margin-right: 0;
}
.progress-indicator.stacked.nocenter > li .bubble:before,
.progress-indicator.stacked.nocenter > li .bubble:after {
  left: 10px;
}
.progress-indicator.stacked.nocenter .stacked-text {
  width: auto !important;
  display: block;
  margin-left: 40px !important;
}

@media handheld, screen and (max-width: 400px) {
  .progress-indicator {
    font-size: 60%;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "TTNorms-Regular", "TT Norms", sans-serif;
}

.central {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #32135B;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  color: #32135B;
  background-color: #2ff189;
  font-family: "TTNorms-Bold", "TT Norms Bold", "TT Norms", sans-serif;
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

/*
* Exclusivo para definições de quebras de layout
*/
header {
  background-color: #fff;
}
header .logo svg {
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  header .logo svg {
    width: 200px;
  }
}
header .logo #logo-desktop {
  display: none;
}
@media (min-width: 768px) {
  header .logo #logo-desktop {
    display: block;
  }
}
header .logo #logo-mobile {
  display: block;
}
@media (min-width: 768px) {
  header .logo #logo-mobile {
    display: none;
  }
}
header .content-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  flex: 50%;
}
@media (min-width: 951px) {
  header .content-header {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
}
header .content-header > div {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 25px;
  align-self: center;
  flex-grow: 1;
}
header .content-header > div:last-child {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  flex-grow: 4;
}
@media (min-width: 768px) {
  header #menu {
    display: none;
  }
}
header .social-media > a > i::before {
  font-size: 40px;
}
header .links {
  display: none;
  padding-right: 50px;
}
@media (min-width: 768px) {
  header .links {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  header .links a {
    padding: 10px;
  }
}

.step-view .mobile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: baseline;
}
.step-view .mobile .progress-indicator {
  width: 90px;
  height: 90px;
}
@media (min-width: 768px) {
  .step-view .mobile {
    display: none;
  }
}
.step-view .desktop {
  display: none;
  border-bottom: 1px solid #eee5e5;
  padding-bottom: 20px;
}
.step-view .desktop .progress-indicator {
  height: auto;
}
@media (min-width: 768px) {
  .step-view .desktop {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

.progress-label {
  padding: 0 20px;
}
.progress-label h4 {
  margin: 0;
}
.progress-indicator {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border-radius: 50%;
}
.progress-indicator.progress-30 {
  background-image: -webkit-linear-gradient(108deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #2ff189 50%, #ddd 50%);
  background-image: linear-gradient(0deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #2ff189 50%, #ddd 50%);
}
.progress-indicator.progress-40 {
  background-image: -webkit-linear-gradient(144deg, #ddd 50%, transparent 50%), -webkit-linear-gradient(left, #2ff189 50%, #ddd 50%);
  background-image: linear-gradient(70deg, #ddd 50%, transparent 50%), linear-gradient(-90deg, #2ff189 50%, #ddd 50%);
}
.progress-indicator .overlay {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
  background: #32135B;
  text-align: center;
  padding-top: 30%;
}

.content {
  padding: 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}
@media (min-width: 951px) {
  .content {
    margin: auto;
    width: 80%;
    padding: 50px 20px;
  }
}
.content .steps {
  width: 100%;
  color: #ffffff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content .steps {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .content .steps div {
    flex-grow: 1;
    padding: 30px 0;
    justify-content: flex-end;
  }
  .content .steps div:first-child {
    padding-right: 30px;
  }
}
.content .navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.content .navigation button {
  width: 60%;
}
@media (min-width: 951px) {
  .content .navigation button {
    width: 30%;
  }
}
.content .navigation div {
  flex-grow: 1;
  padding: 40px 0;
}
.content .navigation div:last-child {
  align-items: flex-end;
}

footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #d0d0d0;
  font-family: "TTNorms-Medium", "TT Norms Medium", "TT Norms", sans-serif;
  color: #616161;
}
footer > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer > div {
    flex-grow: 1;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 951px) {
  footer > div {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
}
footer > div div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer > div div {
    flex-grow: 1;
  }
}
footer .links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .links {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
footer .links div > a {
  padding: 10px;
}
footer .logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 40px;
}
footer a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

/*# sourceMappingURL=main.css.map */
